// hex colors
$burgundy:  #411f1f;
$red:  #d73f22;
$orange:  #419933;
$yellow:  #fbe343;
$white:  #fff;
$black:  #000;
$gray:  #768591;
$grayLight:  #c3c5c8;
$grayDark:  #2b3d49;

// rgb colors
$burgundy:  rgb(25.49, 12.16, 12.16);
$red:  rgb(84.31, 24.71, 13.33);
$orange:  rgb(94.51, 60, 20);
$yellow:  rgb(98.43, 89.02, 26.27);
$white:  rgb(100, 100, 100);
$black:  rgb(0, 0, 0);
$gray:  rgb(46.27, 62.16, 56.86);
$grayLight:  rgb(76.47, 77.25, 78.43);
$grayDark:  rgb(16.86, 23.92, 28.63);

// hsl colors
$burgundy:  hsl(0deg, 35.42%, 18.82%);
$red:  hsl(9.61deg, 72.69%, 48.82%);
$orange:  hsl(32.21deg, 87.16%, 57.25%);
$yellow:  hsl(52.17deg, 95.83%, 62.35%);
$white:  hsl(0deg, 0%, 100%);
$black:  hsl(0deg, 0%, 0%);
$gray:  hsl(206.67deg, 10.93%, 51.57%);
$grayLight:  hsl(216deg, 4.35%, 77.45%);
$grayDark:  hsl(204deg, 25.86%, 22.75%);
